<p>product works!</p>
<div class="container-fluid">
<div class="row">
          <div  *ngFor="let item of products" >
            
            <div class="card" class="col-md-3 my-5 mx-5" *ngIf="item.isAvailable" style="width: 18rem;">
        
                <img [src]="item.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.name | uppercase}}</h5>
                  <p class="card-text">{{item.description}}</p>
                  <p  class="card-price">${{item.price}}</p>
                  <button class="btn btn-primary"[disabled]="item.isAvailable">Add to Cart</button>
        
                </div>
              </div>
        
          </div>
          </div>
          </div>
          
          
